body {
    font-family: Fantasy;
    text-transform: uppercase;
    text-align: center;
    background-color: #000000;
}

h1 {
    color: #FA8C0F;
}

.search {
    margin: 30px auto;
}

input[type="text"] {
    padding: 10px;
}

button {
    background-color: #FA8C0F;
    color: #000;
    padding: 10px 20px;
}

    button:hover {
        background-color: #FAD02D;
    }

ul {
    font-family: Fantasy;
    text-transform: lowercase;
    list-style: none;
    padding: 0;
    color: #D23807;
}

li {
    padding: 5px;
}
